<!doctype html>
<html ng-app="app" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Component Pattern for Angular 1.X</title>
        {{app}}
        <base href="/">
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="support">Component Pattern for Angular 1.X</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active"><a ui-sref="app.feature-a">Feature A</a></li>
                        <li ui-sref-active="active"><a ui-sref="app.feature-b">Feature B</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <!-- <li><a href="#" user-info-component></a></li> -->
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" ui-view></div>

    </body>
</html>