<div>
    <div class="row">
        <form class="form-signin" ng-submit="testLogin()">
            <h2 class="form-signin-heading">Zaloguj się</h2>

            <div class="row">
                <div class="col-sm-12">
                    <input ng-model="loginData.login" type="text" class="form-control" name="username" placeholder="Login" required autofocus/>
                    <input ng-model="loginData.password" type="password" class="form-control" name="password" placeholder="Hasło" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a>Załóż konto</a>
                </div>
            </div>

            <div class="row m-t-10">
                <div class="col-sm-12">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
                </div>
            </div>
        </form>
    </div>


    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true"
            chart-series="series" chart-click="onClick"></canvas>

    <canvas id="doughnut" class="chart chart-doughnut"
            chart-data="data1" chart-labels="labels1">
    </canvas>

    <canvas id="base" class="chart-bar"
            chart-data="data" chart-labels="labels" chart-colors="colors"
            chart-dataset-override="datasetOverride" >
    </canvas>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

