<div class="jumbotron">
    <!--<div class="row">-->
        <!--<form class="form-signin" ng-submit="testRejestracja()">-->
            <!--<h2 class="form-signin-heading">Rejestracja nowego użytkownika</h2>-->

            <!--<div class="row">-->
                <!--<div class="col-sm-12">-->
                    <!--<input type="text" class="form-control" name="username" placeholder="Email Address" required autofocus="" />-->
                    <!--<input type="password" class="form-control" name="password" placeholder="Password" required=/>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row m-t-10">-->
                <!--<div class="col-sm-12">-->
                    <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <h2 class="form-signin-heading">Rejestracja nowego użytkownika</h2>
                <form name="rejestracjaForm" ng-submit="testRejestracja()">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="name">Nazwa:</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" id="name" ng-model="rejestracja.name" class="form-control" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="pass">Hasło:</label>
                        <div class="col-sm-10">
                            <input type="password" name="pass" id="pass" ng-model="rejestracja.pass" class="form-control" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="fullname">Imię i nazwisko:</label>
                        <div class="col-sm-10">
                            <input type="text" name="fullname" id="fullname" ng-model="rejestracja.fullname" class="form-control" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" id="email" ng-model="rejestracja.email" class="form-control" required/>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-sm-12">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Zajerestruj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

