
<div class="jumbotron">
    <h1>Feature A!</h1>
    <h2>Feature A is implemented using controller and template which are bound together in ui-router state definition</h2>
    <br />
    <p>Feature is so great that you won't believe! It also contains</p>
</div>